[Unit]
Description=Поднимать сбор текстов ВС РФ каждые полчаса

[Timer]
OnBootSec=10min
OnUnitInactiveSec=30min
AccuracySec=1min

[Install]
WantedBy=timers.target
